<h1>TEST</h1>
<div id="myGrid" class="ag-theme-balham" style="height: 400px"></div>
<% content_for :late_javascript do %>
  <script>
    // specify the columns
var columnDefs = [
    // we're using the auto group column by default!
  {field: "location_code"},
  {field: "location_type"},
  {field: "level"},
  {field: "has_single_container"},
  {field: "is_virtual"}
];

// specify the data
var rowData = <%= @rows %>;

var gridOptions = {
    columnDefs: columnDefs,
    rowData: rowData,
    treeData: true, // enable Tree Data mode
    animateRows: true,
    groupDefaultExpanded: -1, // expand all groups by default
    getDataPath: function(data) {
        // return data.path_string.split(',');
        return data.path_array;
    },
    onGridReady: function(params) {
        params.api.sizeColumnsToFit();
    },
    autoGroupColumnDef: {
        headerName: "Location Hierarchy",
        // cellRendererParams: {
        //     suppressCount: true
        // }
    }
};
// wait for the document to be loaded, otherwise
// ag-Grid will not find the div in the document.
document.addEventListener("DOMContentLoaded", function() {

    // lookup the container we want the Grid to use
    var eGridDiv = document.querySelector('#myGrid');

    // create the grid passing in the div to use together with the columns & data we want to use
    new agGrid.Grid(eGridDiv, gridOptions);
});
  </script>
<% end %>
